{% extends "base_wide.html" %}
{% load i18n %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Sign up
            </li>
        </ol>
    </nav>
    <section>
        <p>Your account is now activated.
            <a href="{% url 'auth_login' %}">Click here</a> to
            continue to login.
        </p>
    </section>
{% endblock %}
