{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Reset password
            </li>
        </ol>
    </nav>
    <section>
        {% if validlink %}
            <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit"/>
            </form>
        {% else %}
            <p>Password reset failed</p>
        {% endif %}
    </section>
{% endblock %}
