{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">{% trans "Home" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Change password" %}
            </li>
        </ol>
    </nav>
    <section>
        <p>{% trans "Password changed" %}</p>
    </section>
{% endblock %}
