.hint {
    color: grey;
!important;
}

.error {
    color: red;
!important;
}

.error ul {
    padding-left: 5px;
}

.container-pad {
    padding: 1em;
}

section {
    margin: 0 1em;
}

.table-row {
    cursor: pointer;
}

.table-data {
    text-align: center;
    font-size: x-large;
    color: darkgrey;
    font-weight: bold;
}

.table-data a {
    color: grey;
}

.table-data a:hover {
    color: grey;
}

.table-data-center {
    text-align: center;
}

.inline-heading {
    display: inline;
}

.justify-text-right {
    text-align: right !important;
}

.justify-text-center {
    text-align: center !important;
}

.mw-3-vw {
    max-width: 3vw !important;
}

.mw-4-vw {
    max-width: 4vw !important;
}

.w-3-rem {
    width: 3rem !important;
}

.link {
    cursor: pointer;
}

.message-element {
    position: absolute !important;
    left: 85% !important;
    top: 5% !important;
    z-index: 999999;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-end !important;
    min-width: 10% !important;
    max-width: 13%;
}

.border-error {
    border-color: #dc3545 !important;
}

#shopping-list-card-header {
    background-color: darkorange;
    color: white;
    font-weight: bold;
}

#email td {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;

}

#shopping-list-card-body {
    background-color: orange;
}

#shared-mail-header {
    background-color: darkred;
    color: white;
    font-weight: bold;
}

#shared-mail-body {
    background-color: indianred;
}

#shared-mail-body td {
    color: white;
}

.min-w-300 {
    min-width: 300px !important;
}

.i-btn,
.i-btn-white{
    cursor: pointer !important;
    margin-right: 0.5rem;
    text-decoration: none;
    color: black;
}

.i-btn:hover {
    color: grey;
}

.i-btn-white {
    color: white;
}

.i-btn-white:hover {
    color: darkgrey !important;
}

.fa-15x {
    font-size: 1.5em;
}
.btn-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  cursor: pointer;
}