{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <title>Shoppero - {% block title %}User test{% endblock %}</title>

    <script src="https://kit.fontawesome.com/3645c12be9.js" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="{% static "/js/scripts.js" %}"></script>
</head>

<body class="bg-light">
<div class="message-element">
    {% for message in messages %}
        <div class="toast border-info" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
            <div class="toast-header">
                <strong class="mr-auto">Notification</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    {% endfor %}
</div>
<header id="header">
    {% block navbar %}
        {% include "nav_bar.html" %}
    {% endblock %}
</header>
<div class="container container-pad bg-white">

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>
