{% load i18n %}
{% load static %}
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark"  data-background-color="black" data-active-color="primary">
        <a class="navbar-brand" href="{% url "index" %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "index" %}">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Logged
                            in: {{ user.email }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'auth_logout' %}">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'auth_password_change' %}">Change password</a>
                    </li>
                {% else %}
                    <li class="nav-item mr-2">
                        <a class="nav-link"
                           href="{% url 'registration_register' %}">
                            <span class="fas fa-user-plus"></span> Sign Up
                        </a>

                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="{% url 'auth_login' %}">
                            <span class="fas fa-sign-in-alt"></span> Log in
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}