{#    Confirm deletion modal   #}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete list
            </div>
            <div class="modal-body">
                You are about to delete this shopping list. This process
                can not be undone. Delete anyways?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <a class="btn btn-outline-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>