{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Shopping lists
            </li>
        </ol>
    </nav>
    <section>
        <header class="mb-3">
            <h3 class="inline-heading">Your shopping lists</h3>
            <div class="float-right">
                <a href="#" class="mr-2 btn btn-secondary">New list</a>
                <a href="{% url 'items' %}" class="mr-2 btn btn-outline-secondary">
                    View my items</a>
            </div>
        </header>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>List</th>
                <th>Number of items</th>
                <th>Total price</th>
            </tr>
            <tbody>
            {% for item in shopping_lists %}
                <tr class="table-row" data-href="#">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.shopping_list__name }}</td>
                    <td>{{ item.complete_item_count }}/{{ item.item_count }}</td>
                    <td>{{ item.total_price }}KM</td>
                </tr>

            {% empty %}
                <tr id="table-empty">
                    <td class="table-data" colspan="4">
                        Click <a href="#">here</a> to add a new list and start
                        using the site.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <script>
        $(document).ready(function (e) {
            initClickableTableRow();
        })
    </script>
{% endblock %}