{% extends "base_wide.html" %}
{% load static %}
{% block content %}

    {% url 'shopping_list' as url %}
    {% include 'shared/top_header.html' with url=url title='Shopping Lists' %}
    <div class="content">
        <section>
            <div class="d-flex justify-content-around border-danger flex-wrap">
                {% include 'shopping_list/elements/shopping_list_form_card.html' %}
                {% include 'shopping_list/elements/share_with_user_card.html' %}
            </div>
        </section>

        <hr>
        <section>
            <div class="d-flex justify-content-between mb-3">
                <h4 class="d-inline">Items</h4>
                <div class="d-inline">
                    <a href="{% url 'shopping_list' %}" class="btn btn-outline-secondary mr-1">Cancel</a>
                    <button id="submit-shopping-list"
                            {% if list %}
                            data-url="{% url 'api_shopping_list_single' list.id %}"
                            {% else %}
                            data-url="{% url 'api_shopping_list_create' %}"
                            {% endif %}
                            class="btn btn-primary">
                        Save list
                    </button>
                </div>
            </div>
        </section>
        {% include 'shopping_list/elements/shopping_list_table.html' %}
    </div>
    <script src="{% static "/js/shopping_list.js" %}"></script>


    <script>
        $(document).ready(function (e) {
            let rowMap = new Map();
            initAddItemToListForm(rowMap);
            initItemAutocompleteSearch();
            itemInputOnChange();
            initShareEmailForm();
            initShareEmailDeleteButton();
            initSubmitEditRowForm(rowMap);

            {% if list %}
                initEditListEditItemRow(rowMap);
                initToggleItemDone();
                initDeleteItemRow();
                initSubmitShoppingList('PUT');
            {% else %}
                initSubmitShoppingList('POST');
            {% endif %}
        });
    </script>

{% endblock %}