{% extends "base.html" %}
{% load static %}
{% block content %}

    {#  Bread crumbs  #}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "shopping_list" %}">Shopping lists</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if list %}
                    Edit
                {% else %}
                    New
                {% endif %}
            </li>
        </ol>
    </nav>
    <section>
        <div class="d-flex justify-content-between border-danger">
            {% include 'shopping_list/elements/shopping_list_form_card.html' %}
            {% include 'shopping_list/elements/share_with_user_card.html' %}
        </div>
    </section>

    <hr>
    <section>
        <div class="d-flex justify-content-between mb-3">
            <h4 class="d-inline">Items</h4>
            <div class="d-inline">
                <a href="{% url 'shopping_list' %}" class="btn btn-outline-secondary mr-1">Cancel</a>
                <button id="submit-shopping-list" data-url="{% url 'shopping_list_create' %}" class="btn btn-success">
                    Save list
                </button>
            </div>
        </div>
    </section>
    {% include 'shopping_list/elements/shopping_list_table.html' %}
    <script src="{% static "/js/shopping_list.js" %}"></script>

    {% if list %}
        <script>
            $(document).ready(function (e) {
                let rowMap = new Map();
                initEditListEditItemRow(rowMap);
                initToggleItemDone();
                initSubmitEditRowForm(rowMap);
                initDeleteItemEditRow();
                initSubmitEditedListForm();
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function (e) {
                let itemMap = new Map();
                let sharedUser = new Set();
                initItemAutocompleteSearch();
                itemInputOnChange();
                initShareEmailForm(sharedUser);
                initAddItemToMapButton(itemMap);
                initSubmitShoppingList(itemMap, sharedUser);
            })
        </script>
    {% endif %}
{% endblock %}